.button {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  padding: 8px 13px;
  border-radius: 5px;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}